.topo {
    width: 100%;
    height:8vh;
    min-width: 100px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(255, 251, 251);
}

figure {
    width: 80px;
    height: 60px;
}

.topo figure img {

    width: 80px;
    height: 60px;

}


.topo nav a {
   

    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

    text-decoration: none;
   

    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-right: 2rem;
    margin-left: 1rem;

    color: #E7C0C9;
}

.Link {

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.topo nav a:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    color:rgb(245, 167, 164);
    text-shadow: 0px 0px 0px #000000;


} 

@media(max-width: 450px) {


    .topo figure img {

        width: 40px;
        height: 35px;
    
    }
     
    .topo nav a {
   

        font-size: 12px;
        margin-top: 0.5em;
        margin-right: 0rem;
     
    }

    figure {
        width: 40px;
        height: 35px;
    }
    
    

}