.tamanho-maximo-container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 20px;
  
  }
   .rodape-copyright {
  
      text-align: center;
      padding: 30px;
      border-top: 1px solid rgb(0, 0, 0);
      color: #ffffff;
      font-weight: 600;
      width: 100%;
      padding-top: 30px;
      text-shadow: 2px 2px 3px #000000
    }
    
    .rodape {
        background: rgb(246,179,178);
        background: linear-gradient(139deg, rgba(246,179,178,1) 0%, rgba(244,215,222,1) 19%, rgba(230,191,200,1) 49%, rgba(250,204,203,1) 73%, rgba(255,190,188,1) 89%, rgba(251,144,142,1) 100%);;
      color:#ffffff;
      text-shadow: 2px 2px 3px  #000000
    }
    
    .rodape h4 {
      font-size: 20px;
      font-style: italic;
      margin-left: 20px;
      text-shadow: 2px 2px 3px  #000000
    }
    
    .rodape-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .rodape-info {
      width: 23%;
      display: flex;
      align-items: center;
      font-style: italic;
    }
    
    .rodape-link{
      margin-right: 10px;
      color: #ffffff;
      text-decoration: none;
      font-style: italic;
      padding: 10px;
      text-shadow: 2px 2px 3px  #000000
      
      
  
    }
    
    .rodape-icone {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    
  .rodape-info a{
      text-decoration: none;
      color: #ffffff;
      font-style: italic;
      text-shadow: 2px 2px 3px  #000000;
      
  }
  .footP {
  
    font-size: 16px;
  }
  
  @media(max-width:425px) {
  
    .footP {
  
    font-size: 12px;
  
    }
  
    .rodape h4 {
      font-size: 14px;
      
    }
  }