.tamanho-maximo-container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 20px;
  
  }
   .rodape-copyright {
  
      text-align: center;
      padding: 30px;
      border-top: 1px solid #252525;
      color:#ffffff;
      font-weight: 600;
      width: 100%;
      padding-top: 30px;
      text-shadow: 2px 2px 3px #000000
    }
    
    .rodape {
        background: #252525;
      
      color:#ffffff;
      text-shadow: 2px 2px 3px  #E7C0C9
    }
    
    .rodape h4 {
      font-size: 20px;
      font-style: italic;
      margin-left: 20px;
      text-shadow: 2px 2px 2px  #E7C0C9
    }
    
    .rodape-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .rodape-info {
      width: 23%;
      display: flex;
      align-items: center;
      font-style: italic;
    }
    
    .rodape-link{
      margin-right: 10px;
      color:#ffffff;
      text-decoration: none;
      font-style: italic;
      padding: 10px;
      text-shadow: 2px 2px 2px  #E7C0C9
      
      
  
    }
    
    .rodape-icone {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    
  .rodape-info a{
      text-decoration: none;
      color: #ffffff;
      font-style: italic;
      text-shadow: 2px 2px 2px #E7C0C9;
      
  }
  .footP {
  
    font-size: 16px;
  }
  
  @media(max-width:425px) {
  
    .footP {
  
    font-size: 12px;
  
    }
  
    .rodape h4 {
      font-size: 14px;
      
    }
  }