
/* 1° imagem com o efeito parallax */
.container-parallax1 {

    background-image: url(/public/assets/IMGBANNER.png);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.container-parallax1 h1 {

   


    font-weight: 400;
    font-family: 'Lobster', cursive;
    font-size: 75px;

    color: #ffdfdd;
    text-shadow: 2px 2px 2px #000000;

    text-align: center;
}

.container-parallax1 h3 {
  

    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;

    color: #d2b9bf;
    text-shadow: 2px 2px 2px #000000;

    text-align: center;


}

@media(max-width: 450px) {

    .container-parallax1 {
        background-image: url(/public/assets/IMGBANNER2.png);

    }

    .container-parallax1  h1{

        font-size: 55px;
    }

    .container-parallax1  h3{

        font-size: 35px;
    }
}
