* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.LarguraMax {
  
  width: 100%;
  max-width: 1024px;
  margin: 0 auto ;

}

html {

  scroll-behavior: smooth;

}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 1rem;
}
::-webkit-scrollbar {
  width: 6px;
  background: #ffffff;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: #F1B5D4;
  border-radius: 1rem;  
}
:target {
  scroll-margin-top: 60px;
}
